<a [routerLink]="['/']">
  <button mat-raised-button color="primary">
   Retour
  </button>
</a>

<div>
  <h1>Créer mon compte</h1>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form *ngIf="!isLoading"
        (submit)="submitForm()" #formValidation="ngForm">
    <div>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Nom</mat-label>
          <input [(ngModel)]="user.lastname" name="nom"
                 #nom="ngModel" required matInput
                 placeholder="Nom">
          <mat-error *ngIf="!nom.valid">
            Ce champ est requis !
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Prénom</mat-label>
          <input [(ngModel)]="user.firstname" name="prenom"
                 #prenom="ngModel" required matInput
                 placeholder="Prénom">
          <mat-error *ngIf="!prenom.valid">
            Ce champ est requis !
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" [(ngModel)]="user.email" name="email" email="true"
                 #email="ngModel" required matInput
                 placeholder="Email">
          <mat-error *ngIf="!email.valid">
            Veuillez saisir un email valide !
          </mat-error>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Enter your password</mat-label>
          <input required [(ngModel)]="user.password"
                 name="password"
                 #password="ngModel" matInput [type]="hide ? 'password' : 'text'">

          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="!password.valid">
            Veuillez saisir un mot de passe
          </mat-error>
        </mat-form-field>

      </div>


      <div>
        <mat-form-field>
          <mat-label>Confirmez password</mat-label>
          <input required [(ngModel)]="user.confirmPassword"
                 name="confirmPassword"
                 #confirmPassword="ngModel" (invalid)="user.password != user.confirmPassword" matInput [type]="hideConfirm ? 'password' : 'text'">

          <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirm">
            <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>

          <mat-error *ngIf="!password.valid">
           Veuillez confirmer le mot de passe
          </mat-error>

        </mat-form-field>
      </div>

    </div>

    <div class="warn" *ngIf="formValidation.valid
    && user.password != user.confirmPassword">
      Les mots de passes ne sont pas identiques
    </div>

    <div class="warn" *ngIf="strError">
      {{ strError }}
    </div>

    <button [disabled]="!formValidation.valid || user.password != user.confirmPassword"
            mat-raised-button color="primary" type="submit">
      Valider
    </button>
  </form>

</div>
