<mat-spinner *ngIf="isLoading"></mat-spinner>

<div *ngIf="!isLoading">
  <a [routerLink]="['/admin']">
    <button mat-raised-button color="primary">
      Retour
    </button>
  </a>
  <h1>La catégorie {{ category?.name }}</h1>

  <img class="image_categ" src="{{ category?.image }}">

  <div *ngIf="category
  && category.childrens
  && category.childrens.length > 0">
    <h2>Les catégories enfants !</h2>

    <mat-card *ngFor="let category of category.childrens" class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{category.name}}</mat-card-title>
      </mat-card-header>
      <img class="example-header-image" mat-card-image src="{{ category.image }}" >
      <mat-card-actions>
        <button (click)="reloadData(category?.id)" mat-button>Voir</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="category
  && category.childrens
  && category.id
  && category.childrens.length == 0">
    <h2>Il n'y a pas de catégories enfant !</h2>

    <button (click)="deleteCategory(category.id)" mat-raised-button color="warn">
      Supprimer
    </button>

  </div>
</div>
