<mat-spinner *ngIf="isLoading"></mat-spinner>

<a [routerLink]="['/admin']">
  <button mat-raised-button color="primary">
    Accès à l'administration
  </button>
</a>

<a [routerLink]="['/register']">
  <button mat-raised-button color="primary">
    Créer mon compte
  </button>
</a>

<a [routerLink]="['/login']">
  <button mat-raised-button color="primary">
    Me connecter
  </button>
</a>

<mat-tree *ngIf="!isLoading" [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>
