<a [routerLink]="['/admin/ajout']">
  <button mat-raised-button color="primary">
    Ajouter une catégorie
  </button>
</a>

<a [routerLink]="['/']">
  <button mat-raised-button color="primary">
    Retour
  </button>
</a>

<button (click)="logout()" mat-raised-button color="primary">
  Me déco
</button>

<mat-spinner *ngIf="loader"></mat-spinner>

<table *ngIf="!loader" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Identifiant </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nom </th>
    <td mat-cell *matCellDef="let element">  {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="parent">
    <th mat-header-cell *matHeaderCellDef> Catégorie parent </th>

    <td mat-cell *matCellDef="let element">

      <ng-container *ngIf="element.parent">
        {{element.parent.name}}
      </ng-container>

      <ng-container *ngIf="!element.parent">
        _
      </ng-container>

    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <a [routerLink]="['/admin/category/', element.id]">
        <button  mat-raised-button color="primary">
          Voir la catégorie {{ element.name }}
        </button>
      </a>
      <a [routerLink]="['/admin/category/edit', element.id]">
        <button  mat-raised-button color="accent">
          Editer la catégorie {{ element.name }}
        </button>

      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

