<mat-spinner *ngIf="isLoading"></mat-spinner>

<form *ngIf="!isLoading"
      (submit)="submitForm()" #formValidation="ngForm">

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Nom de la catégorie</mat-label>
      <input [(ngModel)]="categoryForm.name" name="nom"
             #nom="ngModel" required matInput
             placeholder="Nom de la catégorie">
      <mat-error *ngIf="!nom.valid">
        Ce champ est requis !
      </mat-error>
    </mat-form-field>
  </div>


  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Image de la catégorie</mat-label>
      <input [(ngModel)]="categoryForm.image" name="image"
             #image="ngModel" matInput
             placeholder="Image de la catégorie">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Catégorie</mat-label>
      <mat-select (selectionChange)="changeSelectValue($event)" [value]="categoryForm.parent" name="parent">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let categ of categoriesSelect"
                    [value]="'/api/categories/'+categ.id">
          {{categ.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button [disabled]="!formValidation.valid"
          mat-raised-button color="primary" type="submit">
    Valider
  </button>
</form>
