<h1>Me connecter !</h1>

<mat-spinner *ngIf="isLoading"></mat-spinner>

<form *ngIf="!isLoading" (submit)="login()" #formValidation="ngForm">
  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" [(ngModel)]="user.email" name="email" email="true"
             #email="ngModel" required matInput
             placeholder="Email">
      <mat-error *ngIf="!email.valid">
        Veuillez saisir un email valide !
      </mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input required [(ngModel)]="user.password"
             name="password"
             #password="ngModel" matInput [type]="hide ? 'password' : 'text'">

      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>

      <mat-error *ngIf="!password.valid">
        Veuillez saisir un mot de passe
      </mat-error>
    </mat-form-field>

  </div>

  <div class="warn" *ngIf="loginError">
    {{ loginError }}
  </div>


  <button [disabled]="!formValidation.valid"
          mat-raised-button color="primary" type="submit">
    Valider
  </button>
</form>
